registry=http://anton:8081/repository/npm-group
//anton:8081/repository/npm-group/:_authToken=NpmToken.6aae984b-b46e-3786-bf33-2bedce33ec6c
//anton:8081/repository/npm-private/:_authToken=NpmToken.6aae984b-b46e-3786-bf33-2bedce33ec6c
//anton:8081/repository/:_authToken=NpmToken.6aae984b-b46e-3786-bf33-2bedce33ec6c